# Question 1

In [1]:
import selenium
import pandas as pd
import re
from selenium import webdriver
import time
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [129]:
driver=webdriver.Chrome()

In [130]:
driver.get("https://www.shine.com/")

In [144]:
job=driver.find_element(By.CLASS_NAME,"form-control  ")
job.send_keys("Data Analyst")

In [143]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [145]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button")
search.click()

In [227]:
title=[]
company=[]
loc=[]

In [228]:
t=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/h2/a')[:10]
for i in t:
    t=i.text
    title.append(t)
    
print(title)

['Data Analyst , Senior Data Analyst , Data Analyst - Tec ...', 'Data Analyst', 'Data Analyst (Power BI, Python, SQL)- Internal Audit do ...', 'Data Analyst Fresher and Experience Vacancy', 'Data Analyst Opening', 'Clinical Data Analyst', 'Data Analyst Recruitment', 'Data Analyst Recruitment', 'Business Analyst', 'Data Governance Analyst']

In [229]:
c=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')[:10]
for i in c:
    c=i.text
    company.append(c)
print(company)

['appsoft solutions', 'valenta bpo solutions pvt. ltd.', 'talent leads hr solutions pvt ltd', 'radhika enterprises', 'radhika enterprises', 'techno endura', 'radhika enterprises', 'radhika enterprises', 'mackenzie modern it solutions priva...', 'white horse manpower consultancy (p...']

In [230]:
l=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[:10]
for item in l:
    l=item.text.replace('\n',' ')
    loc.append(l)

In [231]:
df=pd.DataFrame({"Job Title":title,"Company":company,"Location":loc},index=range(1,len(title)+1))
df

,Job Title,Company,Location
1,"Data Analyst , Senior Data Analyst , Data Anal...",appsoft solutions,Bangalore +8
2,Data Analyst,valenta bpo solutions pvt. ltd.,Bangalore
3,"Data Analyst (Power BI, Python, SQL)- Internal...",talent leads hr solutions pvt ltd,Bangalore
4,Data Analyst Fresher and Experience Vacancy,radhika enterprises,Bangalore +12
5,Data Analyst Opening,radhika enterprises,Bangalore +12
6,Clinical Data Analyst,techno endura,Bangalore +6
7,Data Analyst Recruitment,radhika enterprises,Bangalore +12
8,Data Analyst Recruitment,radhika enterprises,Bangalore +12
9,Business Analyst,mackenzie modern it solutions priva...,Bangalore +6
10,Data Governance Analyst,white horse manpower consultancy (p...,Bangalore

# Question 2

In [2]:
import selenium
import pandas as pd
import re
from selenium import webdriver
import time
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [34]:
driver=webdriver.Chrome()

In [35]:
driver.get("https://www.naukri.com/")

In [36]:
job=driver.find_element(By.CLASS_NAME,"suggestor-input ")
job.send_keys("Data Analyst")

In [40]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Bangalore")

In [41]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [90]:
title=[]
company=[]
location=[]
exp=[]

In [91]:
tit=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')[:10]
for i in tit:
    tit=i.text
    title.append(tit)

In [92]:
loc=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]/span')[:10]
for i in loc:
    loc=i.text
    location.append(loc)

In [93]:
comp=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a')[:10]
for i in comp:
    comp=i.text
    company.append(comp)

In [94]:
ex=driver.find_elements(By.XPATH,'//span[@class="exp-wrap"]/span/span')[:10]
for i in ex:
    ex=i.text
    exp.append(ex)

In [95]:
len(title),len(company),len(location),len(exp)

(10, 10, 10, 10)

In [98]:
df=pd.DataFrame({"Title":title,"Company Name":company,"Location":location,"Experience":exp},index=range(1,len(title)+1))
df

,Title,Company Name,Location,Experience
1,Data Analyst,Ltimindtree,"Hybrid - Kolkata, Bengaluru",12-17 Yrs
2,Data Analyst,3.7,Hybrid - Bengaluru,3-5 Yrs
3,Data Analyst,8245 Reviews,Bengaluru,3-7 Yrs
4,Field Programs Data Analyst,Naukri Premium - Employer Services,Bengaluru,2-5 Yrs
5,Data Analyst,Freshmenu,Bengaluru,1-5 Yrs
6,Data Analyst,3.0,Bengaluru,2-4 Yrs
7,Field Programs Data Analyst,136 Reviews,Bengaluru,2-5 Yrs
8,Data Analyst,Salesforce,Bengaluru,3-8 Yrs
9,Data Analyst,4.1,Bengaluru,2-3 Yrs
10,Data Analyst,689 Reviews,Hybrid - Bengaluru,5-8 Yrs

# Question 3

In [105]:
import selenium
import pandas as pd
import re
from selenium import webdriver
import time
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [7]:
driver=webdriver.Chrome()

In [8]:
driver.get('https://www.flipkart.com/')

In [15]:
s1=driver.find_element(By.XPATH,'//div[@class="_2SmNnR"]/input')
s1.send_keys('sunglasses')

In [18]:
search=driver.find_element(By.CLASS_NAME,'_2iLD__')
search.click()

In [84]:
s_name=[]
company=[]
price=[]
discount=[]

In [81]:
company=[]

In [85]:
s=driver.find_elements(By.CLASS_NAME,'WKTcLC')
for i in s:
    s=i.text
    s_name.append(s)

In [92]:
print(len(s_name))

100

In [87]:
p2=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
p2.click()

In [88]:
s=driver.find_elements(By.CLASS_NAME,'syl9yP')
for i in s:
    s=i.text
    s_name.append(s)

In [89]:
p2=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
p2.click()

In [90]:
s=driver.find_elements(By.CLASS_NAME,'syl9yP')[:20]
for i in s:
    s=i.text
    s_name.append(s)

In [91]:
print(s_name)

['by Lenskart UV Protection Wayfarer Sunglasses (59)', 'Gradient Retro Square Sunglasses (57)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Aviator Sunglasses (Free Size)', 'Mirrored Wayfarer Sunglasses (50)', 'UV Protection, Polarized, Gradient, Riding Glasses Spor...', 'by Lenskart Polarized, UV Protection Retro Square Sungl...', 'UV Protection Rectangular Sunglasses (Free Size)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Round Sunglasses (51)', 'UV Protection Aviator Sunglasses (Free Size)', 'Mirrored Round Sunglasses (55)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'UV Protection Retro Square, Wayfarer, Sports Sunglasses...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Sports, Wrap-around Sunglasses (70)', 'UV Protection Cat-eye Sunglasses (55)', 'UV Protection Wayfarer, Retro Square Sunglasses (52)', 'by Lenskart UV Protection, Polarized Over-sized Sunglas...', 'Gradient Retro Square Sunglasses (57)', 'UV Protection Cat-eye Sunglasses (60)', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection Over-sized Sunglasses (60)', 'UV Protection Aviator Sunglasses (62)', 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wrap-around Sunglasses (Free Size)', 'UV Protection Sports, Wrap-around Sunglasses (59)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Retro Square Sunglasses (56)', 'UV Protection Butterfly Sunglasses (60)', 'UV Protection Wayfarer Sunglasses (52)', 'UV Protection Rectangular Sunglasses (47)', 'Polarized, UV Protection Rectangular Sunglasses (65)', 'Gradient Wayfarer Sunglasses (50)', 'by Lenskart Polarized, UV Protection Round Sunglasses (...', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'IDEE', 'Lenskart STUDIO', 'VINCENT CHASE', 'elegante', 'Rich Club', 'Fastrack', 'john jacobs', 'Hooper', 'DEIXELS', 'Mast & Harbour', 'john jacobs', 'IDEE', 'Singco India', 'ROYAL SON', 'IDEE', 'VINCENT CHASE', 'VINCENT CHASE', 'Lenskart STUDIO', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'VINCENT CHASE', 'john jacobs', 'PIRASO', 'VINCENT CHASE', 'BABYMOON', 'Fastrack', 'VINCENT CHASE', 'john jacobs', 'Elligator', 'Fastrack', 'john jacobs', 'Hooper', 'Rich Club', 'PC STAR', 'VINCENT CHASE', 'GANSTA', 'VINCENT CHASE', 'john jacobs', 'Singco India', 'ROZZETTA CRAFT', 'POLICE', 'IDEE', 'VINCENT CHASE', 'ROYAL SON', 'VINCENT CHASE', 'Roadster', 'Hooper', 'IDEE', 'PIRASO', 'ROYAL SON', 'john jacobs', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Rich Club', 'VINCENT CHASE', 'IDEE', 'IDEE', 'Elligator', 'hayden haiza']

In [93]:
c=driver.find_elements(By.CLASS_NAME,'syl9yP')
for i in c:
    c=i.text
    company.append(c)

In [94]:
print(len(company))

40

In [95]:
p2=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
p2.click()

In [96]:
c=driver.find_elements(By.CLASS_NAME,'syl9yP')
for i in c:
    c=i.text
    company.append(c)

In [97]:
p2=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
p2.click()

In [98]:
c=driver.find_elements(By.CLASS_NAME,'syl9yP')[:20]
for i in c:
    c=i.text
    company.append(c)

In [99]:
print(company)

['VINCENT CHASE', 'POLICE', 'Fastrack', 'Elligator', 'PIRASO', 'Elligator', 'LAER', 'VINCENT CHASE', 'Fastrack', 'Fastrack', 'Eyenaks', 'john jacobs', 'Fastrack', 'MagJons', 'VINCENT CHASE', 'ROADWAY', 'elegante', 'NuVew', 'hayden haiza', 'Elligator', 'VINCENT CHASE', 'POLICE', 'Dressberry', 'Rich Club', 'PIRASO', 'Ray-Ban', 'ROYAL SON', 'VINCENT CHASE', 'Fastrack', 'Fastrack', 'NuVew', 'NuVew', 'Fastrack', 'PIRASO', 'Rich Club', 'hayden haiza', 'Eyewearlabs', 'POLICE', 'VINCENT CHASE', 'VINCENT CHASE', 'IDEE', 'Lenskart STUDIO', 'VINCENT CHASE', 'elegante', 'Rich Club', 'Fastrack', 'john jacobs', 'Hooper', 'DEIXELS', 'Mast & Harbour', 'john jacobs', 'IDEE', 'Singco India', 'ROYAL SON', 'IDEE', 'VINCENT CHASE', 'VINCENT CHASE', 'Lenskart STUDIO', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'VINCENT CHASE', 'john jacobs', 'PIRASO', 'VINCENT CHASE', 'BABYMOON', 'Fastrack', 'VINCENT CHASE', 'NuVew', 'Elligator', 'Fastrack', 'john jacobs', 'john jacobs', 'Rich Club', 'PC STAR', 'VINCENT CHASE', 'GANSTA', 'Hooper', 'VINCENT CHASE', 'Singco India', 'ROZZETTA CRAFT', 'POLICE', 'IDEE', 'VINCENT CHASE', 'ROYAL SON', 'VINCENT CHASE', 'Roadster', 'Hooper', 'IDEE', 'PIRASO', 'ROYAL SON', 'john jacobs', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Rich Club', 'VINCENT CHASE', 'IDEE', 'IDEE', 'Elligator', 'hayden haiza']

In [106]:
p=driver.find_elements(By.CLASS_NAME,'Nx9bqj')[:40]
for i in p:
    p=i.text
    price.append(p)

In [107]:
print(len(price))

40

In [109]:
p2=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
p2.click()

In [110]:
p=driver.find_elements(By.CLASS_NAME,'Nx9bqj')[:40]
for i in p:
    p=i.text
    price.append(p)

In [111]:
p2=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
p2.click()

In [112]:
p=driver.find_elements(By.CLASS_NAME,'Nx9bqj')[:20]
for i in p:
    p=i.text
    price.append(p)

In [115]:
print(len(price))

100

In [116]:
print(price)

['₹2,626', '₹2,275', '₹818', '₹854', '₹806', '₹230', '₹699', '₹1,061', '₹307', '₹664', '₹2,316', '₹1,049', '₹384', '₹499', '₹299', '₹1,049', '₹1,296', '₹1,004', '₹159', '₹249', '₹1,092', '₹1,184', '₹279', '₹399', '₹499', '₹509', '₹2,144', '₹1,154', '₹585', '₹1,250', '₹2,437', '₹2,200', '₹248', '₹199', '₹246', '₹385', '₹2,316', '₹1,154', '₹545', '₹245', '₹487', '₹2,824', '₹503', '₹149', '₹303', '₹249', '₹299', '₹1,049', '₹470', '₹500', '₹389', '₹2,316', '₹522', '₹290', '₹499', '₹209', '₹314', '₹499', '₹287', '₹179', '₹1,049', '₹2,626', '₹383', '₹487', '₹279', '₹6,552', '₹594', '₹415', '₹575', '₹519', '₹1,679', '₹315', '₹1,385', '₹370', '₹249', '₹265', '₹2,199', '₹299', '₹879', '₹499', '₹944', '₹2,175', '₹399', '₹766', '₹699', '₹1,975', '₹1,250', '₹1,975', '₹299', '₹379', '₹699', '₹516', '₹279', '₹991', '₹779', '₹499', '₹712', '₹854', '₹6,552', '₹974']

In [120]:
d=driver.find_elements(By.CLASS_NAME,'UkUFwK')[:40]
for i in d:
    d=i.text
    discount.append(d)

In [126]:
print(len(discount))

100

In [122]:
p2=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
p2.click()

In [123]:
d=driver.find_elements(By.CLASS_NAME,'UkUFwK')[:40]
for i in d:
    d=i.text
    discount.append(d)

In [124]:
p2=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
p2.click()

In [125]:
d=driver.find_elements(By.CLASS_NAME,'UkUFwK')[:20]
for i in d:
    d=i.text
    discount.append(d)

In [127]:
print(discount)

['75% off', '70% off', '49% off', '75% off', '81% off', '80% off', '70% off', '47% off', '47% off', '49% off', '74% off', '61% off', '47% off', '70% off', '75% off', '79% off', '79% off', '68% off', '78% off', '82% off', '47% off', '70% off', '75% off', '62% off', '89% off', '20% off', '70% off', '74% off', '47% off', '48% off', '80% off', '16% off', '1% off', '85% off', '75% off', '84% off', '85% off', '38% off', '56% off', '75% off', '65% off', '50% off', '75% off', '79% off', '69% off', '47% off', '50% off', '74% off', '65% off', '77% off', '69% off', '50% off', '82% off', '70% off', '69% off', '75% off', '50% off', '35% off', '81% off', '81% off', '45% off', '59% off', '85% off', '47% off', '60% off', '45% off', '73% off', '47% off', '90% off', '45% off', '50% off', '63% off', '74% off', '80% off', '75% off', '86% off', '47% off', '50% off', '82% off', '85% off', '70% off', '65% off', '67% off', '57% off', '59% off', '79% off', '69% off', '61% off', '88% off', '66% off', '69% off', '71% off', '80% off', '75% off', '70% off', '47% off', '69% off', '47% off', '68% off', '82% off']

In [128]:
df=pd.DataFrame({"Product Name":s_name,"Company name":company,"Price":price,"Discount":discount},index=range(1,len(s_name)+1))
df

,Product Name,Company name,Price,Discount
1,by Lenskart UV Protection Wayfarer Sunglasses ...,VINCENT CHASE,"₹2,626",75% off
2,Gradient Retro Square Sunglasses (57),POLICE,"₹2,275",70% off
3,"Gradient, UV Protection Wayfarer Sunglasses (F...",Fastrack,₹818,49% off
4,"UV Protection Cat-eye, Retro Square, Oval, Rou...",Elligator,₹854,75% off
5,UV Protection Aviator Sunglasses (Free Size),PIRASO,₹806,81% off
...,...,...,...,...
96,VINCENT CHASE,VINCENT CHASE,₹499,47% off
97,IDEE,IDEE,₹712,69% off
98,IDEE,IDEE,₹854,47% off
99,Elligator,Elligator,"₹6,552",68% off
100,hayden haiza,hayden haiza,₹974,82% off